<mat-card>
  <mat-card-title>Owner List</mat-card-title>
  <mat-selection-list #ownersNode [(ngModel)]="selectedOptions">

    <mat-list-option class="mat-primary" *ngFor="let owner of owners; let i = index" (click)="handleClick(i)">
      {{owner.name}}
    </mat-list-option>
  </mat-selection-list>

  <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
  <button mat-fab color="primary" class="button__delete" *ngIf="ownersNode.selectedOptions.selected.length>0" (click)="removeOwners()">Delete</button>
  <button mat-fab color="primary" class="button__delete" *ngIf="ownersNode.selectedOptions.selected.length==1">Edit</button>
</mat-card>
